/Debug
/ipch
/JVoiceXmlKinectBridge.sdf
/JVoiceXmlKinectBridge.suo
/JVoiceXmlKinectBridge.vcxproj.filters
/JVoiceXmlKinectBridge.vcxproj.user
/JVoiceXmlKinectRecognizer.sdf
/JVoiceXmlKinectRecognizer.suo
/JVoiceXmlKinectRecognizer.vcxproj.user
