grant {
  permission java.util.PropertyPermission "jvoicexml.vxml.version", "read";
  permission java.util.PropertyPermission "jvoicexml.xml.encoding", "read";
  permission java.net.SocketPermission "127.0.0.1:1024-", "connect,resolve";
  permission java.io.FilePermission "/home/dirk/Entwicklung/jvoicexml/org.jvoicexml/dist/-", "read";
};

