<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern"
               value="%6r [%-20.20t] %-5p %30.30c (%6L) %x %m%n"/>
        </layout>
    </appender>

    <appender name="dailyrotfile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="logging/jvoicexml.log" />
        <param name="datePattern" value="'.'yyyy-MM-dd" />
        <param name="append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-20.20t] %-5p %30.30c (%6L) %C{1}.%M - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
        </filter>
    </appender>
    
    <!-- SOCKET_HUB add by Zhang Nan  begin -->
    <appender name="SOCKET_HUB" class="org.apache.log4j.net.SocketHubAppender">
        <param name="Port" value="5920" />
        <param name="LocationInfo" value="true" />
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
        </filter>
    </appender>
    <!-- SOCKET_HUB add by Zhang Nan end -->

    <logger name="org.jvoicexml">
        <level value="debug"/>
        <appender-ref ref="SOCKET_HUB" />
    </logger>

    <root>
        <priority value ="warn" />
        <appender-ref ref="stdout" />
        <appender-ref ref="dailyrotfile" />
    </root>
</log4j:configuration>
