<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="mybean" 
  class="Inject"
  p:name="Girish" 
  p:age="24" 
  p:address="Noida" 
  p:company="Roseindia.net" 
  p:email="girish@roseindia.net"/>
</beans>