/userguid.synctex.gz
/userguide.aux
/userguide.lof
/userguide.log
/userguide.lot
/userguide.out
/userguide.toc
/version.aux
/userguide.pdf
/version.tex
/tmp/
/userguide.synctex.gz
/.gradle/
/userguide.bbl
/userguide.blg
/jvxml-userguide-*.pdf
