/howtobuil.synctex.gz
/howtobuild.aux
/howtobuild.log
/howtobuild.out
/howtobuild.toc
/version.aux
/howtobuild.pdf
/howtobuild.synctex.gz
/tmp/
/version.tex
/howtobuild.bbl
/howtobuild.blg
/.gradle/
/jvxml-howtobuild-*.pdf
/build/
