<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.jvoicexml.android.callmanager"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<service android:name =".CallManager">
			<intent-filter>
			<action android:name="org.jvoicexml.android.callmanager.INTERPRETVXML" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:scheme="http" />
			</intent-filter>
<!-- 			<intent-filter> -->
<!-- 			<action android:name="org.jvoicexml.android.callmanager.STOP_INTERPRETVXML" /> -->
<!-- 			<category android:name="android.intent.category.DEFAULT" /> -->
<!-- 			</intent-filter> -->
		</service>
<!-- 	<uses-library android:name="org.apache.log4j" /> -->
    	 
    </application>
   	<uses-permission android:name="android.permission.INTERNET" />
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
   	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	<uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>