<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.vtp.launching.voiceXMLBrowser">
      <browser
            class="org.eclipse.vtp.internal.jvoicexml.launcher.JVoiceXmlBrowser"
            id="org.jvoicexml.browser"
            name="JVoiceXml VoiceXML Browser"
            configurationUIClass="org.eclipse.vtp.internal.jvoicexml.launcher.JVoiceXmlBrowserUI"
            launchInputView="true"/>
   </extension>

</plugin>
