/jsapi10-talking-java-implementation.xml
/jsapi20-mac-implementation.xml
/jsapi20-sapi-implementation.xml
/jtapi-callmanager.xml
/jtapi-implementation.xml
/ecmascript-datamodel.xml
/jvxml-callmanager-0-7.xsd
/jvxml-datamodel-0-7.xsd
/jvxml-grammar-0-7.xsd
/jvxml-grammar.xml
/jvxml-implementation-0-7.xsd
/jvxml-implementation.xml
/jvxml-jndi-0-7.xsd
/jvxml-jndi.xml
/jvxml-profile-0-7.xsd
/jvxml-variableprovider-0-7.xsd
/kinect-implementation.xml
/lightweightbml-implementation.xml
/marc-implementation.xml
/mary-implementation.xml
/mmi-callmanager-http.xml
/mmi-callmanager-umundo.xml
/mmi-callmanager.xml
/mrcpv2-callmanager.xml
/mrcpv2-implementation.xml
/red5-implementation.xml
/sip-callmanager.xml
/spring-beans-2.0.xsd
/text-callmanager.xml
/text-implementation.xml
/vxml2.1-profile.xml
/mmi-profile-dist.xml
/mmi-profile.xml
/ua1
