<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="voiceXMLBrowser" name="%VoiceXMLBrowser" schema="schema/voiceXMLBrowser.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.vtp.launching.VoiceXMLLaunchConfigurationDelegate"
            id="org.eclipse.vtp.launching.voicexml"
            modes="run"
            name="%VoiceXMLLaunchConfiguration.name"/>
   </extension>

</plugin>
