/images/
/prompts/
/srgs10_0.0.7/
/vxml20_1.0.1d/
/vxml21_0.0.5/
/WEB-INF/
/acme_ics.xml
/build.xml
/chkit
/displaylog.jsp
/fail.jsp
/fetchtest.jsp
/ics2ctr.jar
/index.jsp
/logoff.jsp
/makewar
/pass.jsp
/README_ics2ctr.txt
/readme.txt
/resetlog.jsp
/testmenu.jsp
/TODO.txt
/transformation.jar
/vendor.properties
/view.jsp
/viewtest.jsp
/viewtestdepend.jsp
/xform.txt
