/org_jvoicexml_implementation_kinect_KinectRecognizer.h
/JVoiceXmlKinectRecognizer.vcxproj.user
/Debug_x64/
/Release/
/Release_x64/
/JVoiceXmlKinectRecognizer.v12.suo
/JVoiceXmlKinectRecognizer.VC.db
/Debug/
/.vs/
/JVoiceXmlKinectRecognizer.sln.cache
